# Unpacking Tuple/List in Python

In [1]:
IP = [140, 114, 46]
TANet, NTHU, CHE = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE,type(CHE))

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>

In [2]:
IP = 140, 114, 46 #IP = (140,114,46)
TANet, NTHU, CHE = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>

# Unpacking Nested Tuple (List)

In [3]:
IP = (140, 114, (46, 47))
TANet, NTHU, CHE = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))

140 <class 'int'>
114 <class 'int'>
(46, 47) <class 'tuple'>

In [4]:
IP = (140, 114, (46, 47))
TANet, NTHU, (CHE1, CHE2) = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE1, type(CHE1))
print(CHE2, type(CHE2))

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
47 <class 'int'>

# Dropping Unneeded Values with _

In [5]:
IP = (140, 114, (46, 47))
TANet, NTHU, _ = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(_, type(_))

140 <class 'int'>
114 <class 'int'>
(46, 47) <class 'tuple'>

# Unpacking Tuple (List) with *

In [6]:
IP = (140, 114, 46, 1, 2, 3, 4, 5)
TANet, NTHU, CHE, *Lab = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))
print(Lab, type(Lab))
print(*Lab) #iterator cannot use type

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
[1, 2, 3, 4, 5] <class 'list'>
1 2 3 4 5

# Dropping Unneeded Values with *_

In [7]:
IP = (140, 114, 46, 1, 2, 3, 4, 5)
TANet, NTHU, CHE, *_ = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))
print(_, type(_))
print(*_) #iterator cannot use type

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
[1, 2, 3, 4, 5] <class 'list'>
1 2 3 4 5

In [9]:
IP = (140, 114, 46)
TANet, NTHU, CHE, *_ = IP

print(TANet, type(TANet))
print(NTHU, type(NTHU))
print(CHE, type(CHE))
print(_, type(_))
print(*_, type(_))

140 <class 'int'>
114 <class 'int'>
46 <class 'int'>
[] <class 'list'>
<class 'list'>

# Merging Iterables with *

In [10]:
insert = [i for i in range(1,10)]
merge = (0, *insert, 10)
print(merge)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Unpacking Dictionaries in Python

In [10]:
IP = {"TANet":140, "NTHU":114, "CHE":46}

a,b,c = IP
print(a,b,c)
a,b,c = IP.values()
print(a,b,c)
a,b,c = IP.items()
print(a,b,c)

TANet NTHU CHE
140 114 46
('TANet', 140) ('NTHU', 114) ('CHE', 46)

# Packing Dictionaries with **

In [11]:
IP = {"TANet":140, "NTHU":114, "CHE":46}

print({**IP})

{'TANet': 140, 'NTHU': 114, 'CHE': 46}

# Merging Dict with **

In [12]:
IP = {"TANet":140, "NTHU":114}

print(dict({**IP}, CHE1=46, CHE2=47))

{'TANet': 140, 'NTHU': 114, 'CHE1': 46, 'CHE2': 47}

In [13]:
#https://www.python.org/dev/peps/pep-0448/
print({'x': 1, **{'x': 2}})
print({**{'x': 2}, 'x': 1})

{'x': 2}
{'x': 1}